.DS_Store
Thumbs.db

node_modules/
.next/
out/
build/
dist/

bin/
*.exe
*.test
*.out
vendor/

.env
.env.local
.env.*.local
*.log

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
tmp_bin/
backend/tmp_bin
sql_paths.txt
*.tsbuildinfo
.agents/
